/* /client/src/pages/HomePage/HomePage.module.css */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.mainTitle {
  font-family: 'Kelvinch', sans-serif;
  font-size: 3.5rem; /* Large font size */
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

