/* /client/src/components/TaskSpecializationChart/TaskSpecializationChart.module.css */
.chartWrapper {
  width: 90%;
  max-width: 900px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
}

.title {
  text-align: center;
  font-family: 'Kelvinch', sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #111827;
  /* Dark text */
  background-color: transparent;
  /* Remove any background */
}

.chartContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  opacity: 0;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  pointer-events: none;
  font-family: Arial, sans-serif;
  z-index: 10;
}

.tooltip ul {
  margin: 0;
  padding-left: 20px;
}